[submodule "soot-infoflow"]
	path = soot-infoflow
	url = https://github.com/johspaeth/soot-infoflow.git
[submodule "soot-infoflow-android"]
	path = soot-infoflow-android
	url = https://github.com/johspaeth/soot-infoflow-android.git
[submodule "WeightedBoomerang"]
	path = WeightedBoomerang
	url = https://github.com/CROSSINGTUD/WPDS
