.classpath
.project
.settings/
target/
maven-analysis/cp.txt
maven-analysis/pom.xml
maven-analysis/processDir.txt
src/main/resources/BouncyCastle
src/main/resources/BouncyCastle-JCA
src/main/resources/JavaCryptographicArchitecture
src/main/resources/Tink
